::-webkit-scrollbar {
  width: 5px;
  opacity: 0.5;
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-linear-gradient(45deg, #8ecbe6, #e743c3);
  background: linear-gradient(45deg, #8ecbe6, #e743c3);
}
body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}
.center {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
}
ul {
  list-style-type: upper-alpha;
  padding-bottom: 10%;
}
hr {
  border: 0;
  height: 1px;
  background: -webkit-linear-gradient(315deg, #ffc46e, #f043bf 100%);
  background: linear-gradient(135deg, #ffc46e, #f043bf 100%);
}
.close {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(315deg, #ffc46e, #f043bf 100%);
  background: linear-gradient(135deg, #ffc46e, #f043bf 100%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.close:hover {
  top: -120px;
  right: -120px;
  width: 240px;
  height: 240px;
}
.cont {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (orientation: portrait) {
  .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.myars {
  width: 100vw;
  height: 100vh;
  background: #eee;
  color: #333;
  overflow-y: scroll;
}
.myars * {
  margin: auto;
  width: 80%;
}
.myars .b {
  font-weight: bold;
}
.myars .bs {
  font-size: 0.5em;
}
.myars h1 {
  margin-top: 10%;
}
.contact {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.contact a {
  margin: 10%;
  background: -webkit-linear-gradient(315deg, #ffc46e, #f043bf 100%);
  background: linear-gradient(135deg, #ffc46e, #f043bf 100%);
  padding: 0.3em;
  font-size: 1.2em;
  -webkit-transition: all 500s ease;
  transition: all 500s ease;
}
.contact a:hover {
  padding: 100vw;
  font-size: 100vw;
}
.contact h6 {
  margin: auto;
  width: 80%;
  margin-top: 10%;
  opacity: 0.5;
}
.contact p {
  outline: 0;
  margin: auto;
  width: 80%;
  margin-top: 10%;
  font-size: 1.2em;
  padding-bottom: 10%;
}
